.jumbotron {
    background-color: cornflowerblue;
    text-align: right;
}

input {
    display: inline-block;
}

.jumbotron .timespan {
    text-align: left;
    font-size: 1.3em;
}

.footie {
    padding: 30px;
    margin: 50px;
}

